{% extends "layout.html" %}
{% block title %}归档{% endblock %}
{% block body %}

  <h1><i class="head fa fa-archive"></i>归档</h1>

  <ul class=blog-archive>
  {%- for entry in archive %}
    <li><a href="{{ link_to('blog_archive', year=entry.year) }}">{{ entry.year }}</a>
      <ul>
      {%- for subentry in entry.months %}
        <li><a href="{{ link_to('blog_archive', year=entry.year,
                                month=subentry.month) }}">{{ subentry.month }}</a>
          — {{ subentry.count }} {{ '篇博客' if subentry.count == 1 else '篇博客' }}
        </li>
      {%- endfor %}
      </ul>
  {%- endfor %}
  </ul>
{% endblock %}
