{% extends "layout.html" %}
{% block title %}归档 {{ entry.year }}-{{ entry.month }} {% endblock %}
{% block body %}

  <h1><i class="head fa fa-archive"></i>归档 &nbsp;<a href="{{ link_to('blog_archive', year=entry.year) }}">{{ entry.year }}</a>-<a href="{{ link_to('blog_archive', year=entry.year, month=entry.month) }}">{{ entry.month }}</a> </h1>

  <ul class=blog-archive>
    {%- for entry in entry.entries %}

      <li class="date">{%- if entry.pub_date %} 

        <i class="fa fa-calendar"></i>
        <a href="/{{ format_date(entry.pub_date, format='yyyy') }}/">{{ format_date(entry.pub_date, format='yyyy') }}</a>-<a href="/{{ format_date(entry.pub_date, format='yyyy/MM') }}/">{{ format_date(entry.pub_date, format='MM') }}</a>-<a href="/{{ format_date(entry.pub_date, format='yyyy/MM/dd') }}/{{ entry.title }}">{{ format_date(entry.pub_date, format='dd') }}</a> {% endif %}
        &nbsp;
      <a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
