{% extends "layout.html" %}
{% block title %}归档 {{ entry.year }}{% endblock %}
{% block body %}

  <h1><i class="head fa fa-archive"></i>归档 &nbsp; {{ entry.year }}</h1>

  <ul class=blog-archive>
    {%- for subentry in entry.months %}
      <li><a href="{{ link_to('blog_archive', year=entry.year,
                              month=subentry.month) }}">{{ subentry.month }}</a>
        — {{ subentry.count }} {{ '篇博客' if subentry.count == 1 else '篇博客' }}
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
