{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block body %}
  {%- if not config.hide_title %}
  {{ rst.html_title }}
  {%- endif %}
  {% if ctx.pub_date %}
  <p class=date><i class="fa fa-calendar"></i>&nbsp;<a href="/{{ format_date(ctx.pub_date, format='yyyy') }}/">{{ format_date(ctx.pub_date, format='yyyy') }}</a>-<a href="/{{ format_date(ctx.pub_date, format='yyyy/MM') }}/">{{ format_date(ctx.pub_date, format='MM') }}</a>-<a href="/{{ ctx.source_filename | replace('.rst', '') }}/">{{ format_date(ctx.pub_date, format='dd') }}</a>
  {% endif %}

  {{ rst.fragment }}

  {% if ctx.tags %}
  <p class=tags> <i class="fa fa-tags"></i>
    {% for tag in ctx.tags|sort(case_sensitive=true) %}
      {%- if not loop.first and not loop.last %}, {% endif -%}
      {%- if loop.last and not loop.first %} , {% endif %}
      <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
    {%- endfor %}
  {% endif %}

  {% if 'disqus' in config.active_modules %}
    {{ get_disqus() }}
  {% endif %}


<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"solos"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- Duoshuo Comment END -->

{% endblock %}
